extends layout

block content

  h1 #{category.name}
  h2=category.description

  div
    dl
      each item in category_items
        div.keyboard
           a(href=item.url) #[strong #{item.title}]: 
           | #{item.description}

      else
        p This genre has no items
    
    div.buttons
      p
        a(href=category.url+'/delete') Delete
      p
        a(href=category.url+'/update') Update

