extends layout

block content
  h1=item.title

  p #[strong Category: ]
    a(href=item.category.url) #{item.category.name}
  p #[strong Description:] #{item.description}
  p #[strong Price:] #{item.price} USD
  p #[strong Number In Stock:] #{item.numberInStock}
    hr
  div.buttons
      p.delete
        a(href=item.url+'/delete') Delete
      p.update
        a(href=item.url+'/update') Update

